@font-face {
  font-family: monkey;
  src: url(/happy-monkey.ttf);
}



:root {
  background: black;
  color: white;
  font-family: monkey, sans-serif;
  font-size: 20px;

  --darkest: rgb(5, 31, 57);
  --medium1: rgb(74, 36, 128);
  --medium2: rgb(197, 58, 157);
  --lightest: rgb(255, 142, 128);
}

a {
  color: var(--medium2);
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: var(--lightest);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.25rem;
  font-weight: bold;
}

h2 {
  position: absolute;
  top: 70px;
  right: 25px;
  font-size: 1.15rem;
  font-weight: bold;
}

h3 {
  cursor: pointer;
  font-size: 0.8rem;
}

ul {
    list-style-type: none;
    padding: 0 0.25rem;
}

#main {
  width: 800px;
  height: 600px;
  margin: auto;
  position: relative;
  background: var(--darkest);
}

#title-display {
  font-size: 5rem;
  text-align: center;
}

#text-box {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 730px;
  height: 185px;
  padding: 10px;
  margin: auto;
  background: rgba(0,0,0, 0.5);
  border-radius: 10px;
  text-align: left;
}

#cover {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 2rem;
}

#locations-list {
  position: absolute;
  top: 85px;
  right: 25px;
  text-align: right;
  font-size: 0.75rem;
  cursor: pointer;
}

#credits {
  width: 800px;
  font-size: 0.7rem;
  margin: 0 auto;
}

#briefing, #map {
  position: relative;
  width: 800px;
  height: 600px;
}

#briefing-text-box {
  position: relative;
  top: 60%;
  width: 685px;
  height: 185px;
  margin: auto;
}

#cover-modal {
  position:relative;
  top: 40%;
  background: var(--medium1);
  border: 1px solid var(--darkest);
  border-radius: 10px;
  margin: auto;
  width: 300px;
  height: 100px;
  padding: 10px;
  z-index: 100;
}

.briefing-profile {
  display: inline-block;
  width: 200px;
  height: 320px;
  border: 1px solid var(--medium1);
  border-radius: 10px;
}

#briefing-level {
  font-size: 1.1rem;
  font-weight: bold;
}

hr {
  border: none;
  border-bottom: 3px dotted var(--medium1);
}

#mid-brief {
  margin: auto;
  display: inline-block;
  width: 290px;
  height: 320px;
  border-radius: 10px;
  background: rgba(0,0,0, 0.5);
  margin: 0 25px;
}

.keyword {
  cursor: help;
  font-weight: bold;
  color: var(--lightest);
}

button {
  background: var(--medium1);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: monkey, sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

button:hover {
  background: var(--medium2);
}

[data-keyword]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-keyword]:after {
  content: attr(data-keyword);
  color: white;
  background-color: var(--darkest);
  position: absolute;
  top: 5px;
  left: 15px;
  min-width: 200px;
  max-width: 500px;
  min-height: 50px;
  font-size: 0.75rem;
  padding: 5px;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid var(--lightest);
  border-radius: 10px;
  z-index: 200;
  visibility: hidden;
}
[data-keyword] {
  position: relative;
}

.dialogue-option {
  margin-bottom: 1rem;
}

.dialogue-click {
  display: inline-block;
  cursor: pointer;
  color: var(--medium2);
  font-weight: bold;
  margin-right: 0.5rem;
}

.map-location {
  position: absolute;
}

.map-location img {
  display: block;
  margin: auto;
}

.map-label {
  width: 100px;
}

.map-arrow {
  width: 10px;
}